.layer-animating {
  transition: all 0.2s ease-in-out;
}

.layer-resizable:hover {
  outline: 2px solid rgba(255, 255, 255, 0.5);
}

.layer-resizable .react-resizable-handle {
  background-color: transparent;
}

.layer-resizable:hover .react-resizable-handle {
  background-color: rgba(255, 255, 255, 0.5);
}

.layer {
    position: relative;
    border-radius: 12px; /* macOS 风格的圆角 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* macOS 风格的阴影 */
    background-color: #f0f0f0; /* macOS 风格的背景色 */
}

.layer.active {
    /* 使 active 的 layer 在最上层 */
    z-index: 1000;
}